<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:render partial="Picturecredits/PartialSections" section="collection" arguments="{_all}"/>
<f:render partial="Picturecredits/PartialSections" section="pictureLink" arguments="{_all}"/>
&copy;
<f:render partial="Picturecredits/PartialSections" section="publisherName" arguments="{_all}"/>
<f:render partial="Picturecredits/PartialSections" section="creatorLink" arguments="{_all}"/>
<f:render partial="Picturecredits/PartialSections" section="vendorLink" arguments="{_all}"/>

</html>
